@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400; /* 100-900 */
  font-style: normal;
}

header {
  background-image: url("./images/Coffee.jpg");
  height: 400px;
  background-position: center; /* Сопоставление элемента с центром фонового изображения */
  background-size: cover; /* Выравнивание элемента и фоновой картинки по одной из оси */
  /* background-repeat: no-repeat; */
}

h1{
    text-align: center;
}

h2 {
  text-align: center;
}

section{
    padding: 0px 10px;
}

p {
    
}
