body {
  height: 3000px;
  margin: 0;
}

header {
  height: 100px;
  width: 100%;
}

/* fixed - выпадает из потока  документа */

.navigation {
  background-color: lightgrey;
  padding: 24px;
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
}

.card {
  height: 300px;
  width: 200px;
  border-radius: 18px;
  padding: 10px;
  margin: 20px;
  /* position: static; */
  /* by default position is static */
  /*  */
}

.red {
  background-color: lightcoral;
}

.green {
  background-color: lightgreen;
}

.yellow {
    background-color: yellow;
  }

/* position relative */
/* top, bottom, left, right */
.relative-block {
  position: relative;
  left: 40px;
}

.circle {
  border-radius: 50%;
  background-color: lightsalmon;
  height: 60px;
  width: 60px;
  /* z-индексы работают для позиционированых  */
  z-index: 2;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.sticky-card{
    position: sticky;
    top: 100px;
}
