.card {
    background-color: lightcoral;
    padding: 14px;
    /* margin: 20px; */
    border-radius: 18px;
    height: 400px;
    width: 300px;
}

.container{
    /*  */
    display: flex;
    /*  justify - выравнивание по основной оси */
    /* flex-end */
    /* flex-start */
    /* center  */
    /* space-around  - равномерно*/
    /* space-between -  */
    justify-content: center;
    gap: 20px;
}

.container2{
    display: flex;
    /* row - строка, column - столбец */
    flex-direction: column;
    gap: 24px;
}

.container3{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 50px;
}
